.area-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.area-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area-textbox {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    flex: 1;
    margin-right: 20px; /*have to change this to width to make it smaller */
    border-radius: 5px; 
}

.button-group {
    display: flex;
    gap: 10px; /* Updated gap to 10px */
}

.dark-mode .ibox input { 
    border-color: white;
    color: white;
}

.dark-mode announcement-date {
    color: rgb(0, 0, 0);
}

.dark-mode annoncement-text {
    color: rgb(0, 0, 0);
}

.announcement-item, .report-item {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.announcement-content, .report-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-container {
    display: flex;
    gap: 10px; /* Updated gap to 10px */
    margin-top: 10px;
}