body {
  background: url("../images/light-mode.svg") no-repeat center center fixed;
  background-size: cover;
  overflow-y: hidden;
}

.navbar {
  background-color: #e0e0fa; /* Light blue color */
  border-radius: 30px;
  padding: 0.9rem 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform-origin: left;
}

.navbar.animate {
  animation: scrollIn 1s forwards;
}

@keyframes scrollIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.content-container {
  margin-top: 4rem;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  background: transparent;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 1vw;
  padding: 2vw;
  text-align: center;
  max-height: 80vh;
  overflow-y: auto;
  opacity: 0;
  animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  width: 100vw;
  height: calc(100vh - 13vh);
  background: transparent;
  border: 0.1vw solid rgba(0, 0, 0, 1);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 2vw;
  padding: 2vw;
  text-align: center;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .box {
    margin: 4vh 0 2vh;
  }

  .report-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .report-text, .report-date {
    width: 100%;
  }

  .report-date {
    margin-top: 10px;
  }
}

.btn-purple {
  background-color: #3a2267;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #35204b;
}

.wrapper .ibox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.ibox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 0 40px 0 20px;
  transition: border-width 0.3s, box-shadow 0.3s;
}

.ibox input::placeholder {
  color: #000;
}

.ibox .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
}

.ibox input:focus {
  border-width: 4.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-color: #000;
  background: transparent;
  outline: none;
}

.box2 {
  width: 100vw;
  height: calc(100vh - 18vh);
  background: transparent;
  border: 0.1vw solid rgba(0, 0, 0, 1);
  backdrop-filter: blur(40px);
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 2vw;
  padding: 2vw;
  margin: -4vh -3vw 4vh;
  overflow-y: auto;
  box-sizing: border-box;
  text-align: left;
}

.report-list {
  list-style-type: none;
  padding: 0;
}

.report-item {
  margin-bottom: 1rem;
}

.report-content {
  display: flex;
  align-items: center;
}

.report-text {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 8px;
  margin-right: 8px;
  flex: 1;
  width: calc(100% - 150px);
}

.report-date {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  width: 100px;
  font-size: 14px;
}

.edit-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.edit-container .btn-primary {
  margin-right: 10px;
}

.thumbs-up-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.thumbs-up-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.thumbs-up-icon.filled {
  color: black;
}

.upvotes-label {
  margin-left: 10px;
  font-size: 1rem;
}

.upvotes-textbox {
  width: auto;
  margin-left: 5px;
}

@keyframes thumbs-up-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.thumbs-up-icon.animate-thumb {
  animation: thumbs-up-animation 0.5s;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .btn {
  margin: 0;
}

.navbar-nav .user-info {
  margin-top: 10px;
}

.navbar-nav .profile-button {
  margin-top: 10px;
}
