:root, [data-bs-theme=light] {
  --bs-primary: #d24cc4;
  --bs-primary-rgb: 210,76,196;
  --bs-primary-text-emphasis: #541E4E;
  --bs-primary-bg-subtle: #F6DBF3;
  --bs-primary-border-subtle: #EDB7E7;
  --bs-secondary: #657dfc;
  --bs-secondary-rgb: 101,125,252;
  --bs-secondary-text-emphasis: #283265;
  --bs-secondary-bg-subtle: #E0E5FE;
  --bs-secondary-border-subtle: #C1CBFE;
  --bs-info: #3763f4;
  --bs-info-rgb: 55,99,244;
  --bs-info-text-emphasis: #162862;
  --bs-info-bg-subtle: #D7E0FD;
  --bs-info-border-subtle: #AFC1FB;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d24cc4;
  --bs-btn-border-color: #d24cc4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D967CD;
  --bs-btn-hover-border-color: #D75ECA;
  --bs-btn-focus-shadow-rgb: 32,11,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DB70D0;
  --bs-btn-active-border-color: #D75ECA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d24cc4;
  --bs-btn-disabled-border-color: #d24cc4;
}

.btn-outline-primary {
  --bs-btn-color: #d24cc4;
  --bs-btn-border-color: #d24cc4;
  --bs-btn-focus-shadow-rgb: 210,76,196;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d24cc4;
  --bs-btn-hover-border-color: #d24cc4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d24cc4;
  --bs-btn-active-border-color: #d24cc4;
  --bs-btn-disabled-color: #d24cc4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d24cc4;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #657dfc;
  --bs-btn-border-color: #657dfc;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7C91FC;
  --bs-btn-hover-border-color: #748AFC;
  --bs-btn-focus-shadow-rgb: 15,19,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8497FD;
  --bs-btn-active-border-color: #748AFC;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #657dfc;
  --bs-btn-disabled-border-color: #657dfc;
}

.btn-outline-secondary {
  --bs-btn-color: #657dfc;
  --bs-btn-border-color: #657dfc;
  --bs-btn-focus-shadow-rgb: 101,125,252;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #657dfc;
  --bs-btn-hover-border-color: #657dfc;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #657dfc;
  --bs-btn-active-border-color: #657dfc;
  --bs-btn-disabled-color: #657dfc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #657dfc;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3763f4;
  --bs-btn-border-color: #3763f4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2F54CF;
  --bs-btn-hover-border-color: #2C4FC3;
  --bs-btn-focus-shadow-rgb: 225,232,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2C4FC3;
  --bs-btn-active-border-color: #294AB7;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3763f4;
  --bs-btn-disabled-border-color: #3763f4;
}

.btn-outline-info {
  --bs-btn-color: #3763f4;
  --bs-btn-border-color: #3763f4;
  --bs-btn-focus-shadow-rgb: 55,99,244;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3763f4;
  --bs-btn-hover-border-color: #3763f4;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3763f4;
  --bs-btn-active-border-color: #3763f4;
  --bs-btn-disabled-color: #3763f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3763f4;
}

[data-bs-theme=dark] {
  --bs-primary: #d24cc4;
  --bs-primary-rgb: 210,76,196;
  --bs-primary-text-emphasis: #E494DC;
  --bs-primary-bg-subtle: #2A0F27;
  --bs-primary-border-subtle: #7E2E76;
  --bs-secondary: #657dfc;
  --bs-secondary-rgb: 101,125,252;
  --bs-secondary-text-emphasis: #A3B1FD;
  --bs-secondary-bg-subtle: #141932;
  --bs-secondary-border-subtle: #3D4B97;
  --bs-info: #3763f4;
  --bs-info-rgb: 55,99,244;
  --bs-info-text-emphasis: #87A1F8;
  --bs-info-bg-subtle: #0B1431;
  --bs-info-border-subtle: #213B92;
  --bs-link-color: #cad7ff;
  --bs-link-color-rgb: 202,215,255;
  --bs-link-hover-color: #ffffff;
  --bs-link-hover-color-rgb: 255,255,255;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d24cc4;
  --bs-btn-border-color: #d24cc4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D967CD;
  --bs-btn-hover-border-color: #D75ECA;
  --bs-btn-focus-shadow-rgb: 32,11,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DB70D0;
  --bs-btn-active-border-color: #D75ECA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d24cc4;
  --bs-btn-disabled-border-color: #d24cc4;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #d24cc4;
  --bs-btn-border-color: #d24cc4;
  --bs-btn-focus-shadow-rgb: 210,76,196;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d24cc4;
  --bs-btn-hover-border-color: #d24cc4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d24cc4;
  --bs-btn-active-border-color: #d24cc4;
  --bs-btn-disabled-color: #d24cc4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d24cc4;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #657dfc;
  --bs-btn-border-color: #657dfc;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7C91FC;
  --bs-btn-hover-border-color: #748AFC;
  --bs-btn-focus-shadow-rgb: 15,19,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8497FD;
  --bs-btn-active-border-color: #748AFC;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #657dfc;
  --bs-btn-disabled-border-color: #657dfc;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #657dfc;
  --bs-btn-border-color: #657dfc;
  --bs-btn-focus-shadow-rgb: 101,125,252;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #657dfc;
  --bs-btn-hover-border-color: #657dfc;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #657dfc;
  --bs-btn-active-border-color: #657dfc;
  --bs-btn-disabled-color: #657dfc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #657dfc;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3763f4;
  --bs-btn-border-color: #3763f4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2F54CF;
  --bs-btn-hover-border-color: #2C4FC3;
  --bs-btn-focus-shadow-rgb: 225,232,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2C4FC3;
  --bs-btn-active-border-color: #294AB7;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3763f4;
  --bs-btn-disabled-border-color: #3763f4;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #3763f4;
  --bs-btn-border-color: #3763f4;
  --bs-btn-focus-shadow-rgb: 55,99,244;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3763f4;
  --bs-btn-hover-border-color: #3763f4;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3763f4;
  --bs-btn-active-border-color: #3763f4;
  --bs-btn-disabled-color: #3763f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3763f4;
}

