.box .form-container .input-box {
    width: 60%; /* Adjusted width to 60% */
    min-height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    padding: 10px 20px;
    overflow: hidden;
}

.box .form-container .input-box:focus {
    border-width: 4.5px;
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box .form-container .input-box::placeholder {
    color: black;
}

/* Styles for the select dropdown */
.box .form-container select {
    background-color: #0d1450;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 10%;
    cursor: pointer;
}

.box .form-container select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box .form-container select option {
    background-color: #182285;
    color: white;
    transition: background-color 0.3s ease;
}

.box .form-container select option:hover {
    background-color: black;
    color: white;
}

/*Styles for Dark Mode */
.dark-mode .box .form-container .input-box {
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
}

.dark-mode .box .form-container .input-box::placeholder {
    color: #ffffff;
}

.dark-mode .box .form-container select:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}