{% extends 'better_buildings/base.html' %}
{% load custom_tags %}
{% load static %}
{% load socialaccount %}
{% load django_bootstrap5 %}
<!-- PWA -->
{% load pwa %}
{% progressive_web_app_meta %}

<!-- Bootstrap CSS/JS -->
{% bootstrap_css %}
{% bootstrap_javascript %}

<html data-bs-theme="auto" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Areas - MCPS Better Buildings v2</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}">
</head>

<body>
    <section class="bg-dark d-flex flex-fill py-5">
        <div class="container-md">
            <div class="row mb-3">
                <div class="col-md-12">
                    <h2><strong>Report an Issue</strong></h2>
                </div>
            </div>
            <div class="row d-flex justify-content-xl-center" style="padding: 12px 0px;">
                <div class="col-lg-12">
                    <form method="post">
                        <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="5" placeholder="Report your building issue here!"></textarea></div><select class="form-select mb-3" name="Skib" value="sdds">
                            <optgroup label="This is a group">
                                <option value="">Select an issue area</option>
                                <option value="12">Area: Issue Area #1</option>
                                <option value="13">Area: Issue Area #2</option>
                                <option value="14">Area: Issue Area #3</option>
                            </optgroup>
                        </select>
                        <div><button class="btn btn-info shadow d-block w-100" type="submit">Report</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-body">
        <div class="container-md py-3 navbar-dark">
            <div class="row d-flex justify-content-between flex-wrap">
                <div class="col-3">
                    <h3 class="fs-6 fw-bold">Reach out</h3>
                </div>
                <div class="col-auto d-flex justify-content-lg-end">
                    <h5><strong>MCPS Better Buildings</strong></h5>
                </div>
            </div>
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center">
                <p class="mb-0">Copyright © 2024 MCPS Better Buildings v2</p>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
</body>

</html>