{% extends 'better_buildings/base.html' %}

{% block content %}

<div class="box">
  <div class="form-container">
    <h2>Report a website bug:</h2>
    <p>
      Please provide as much information about the issue as you can, <br>including but not limited to:<br>
      - The location of the bug, and the url of the page if possible<br>
      - Any error messages present on the page<br>
      - The specific conditions which generated the bug (for example <br>
      you could write, "the error occurred after creating a report and <br>
      then attempting to view it from the profile page")
    </p>
    <div class="form-container">
      <form action="{% url 'better_buildings:report_bug' %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_div }}
        <br> 
        <button type="submit" class="btn btn-dark">Report Bug</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}