{% extends 'better_buildings/base.html' %}
{% load custom_tags %}
{% load static %}
{% load socialaccount %}
{% load django_bootstrap5 %}
<!-- PWA -->
{% load pwa %}
{% progressive_web_app_meta %}

<!-- Bootstrap CSS/JS -->
{% bootstrap_css %}
{% bootstrap_javascript %}

{%  %}
<body>
    <section class="bg-dark d-flex flex-fill py-5">
        <div class="container-md">
            <div class="row mb-3">
                <div class="col-md-12">
                    <h2><strong>Hello User!</strong></h2>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <h5 class="mb-3"><strong>Active Reports:</strong></h5>
                    <div class="row g-0 d-flex">
                        <div class="col me-3 pt-1 pb-3 px-2" style="background: var(--bs-body-color);border-radius: 10px;border-style: solid;border-color: var(--bs-body-color);">
                            <p style="font-size: 14px;margin: 0px;color: var(--bs-body-bg);">One of the doors to the stall in the main hallway bathroom (first floor) is broken.</p>
                        </div>
                        <div class="col-3 col-lg-auto d-flex align-items-center me-2 d-none d-md-flex px-3" style="background: var(--bs-secondary-bg);border-radius: 10px;border-style: solid;border-color: var(--bs-secondary-bg);">
                            <p style="font-size: 14px;margin: 0px;">Sep 08, 2024 10:05 PM</p>
                        </div>
                        <div class="col-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center px-2"><a href="edit-report.html"><i class="far fa-edit" style="font-size: 26px;"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="mb-3"><strong>Resolved Reports</strong></h5>
                    <div class="row g-0 d-flex">
                        <div class="col me-3 pt-1 pb-3 px-2" style="background: var(--bs-body-color);border-radius: 10px;border-style: solid;border-color: var(--bs-body-color);">
                            <p style="font-size: 14px;margin: 0px;color: var(--bs-body-bg);">A soap dispenser was damaged in the orchestra bathroom.</p>
                        </div>
                        <div class="col-3 col-lg-auto d-flex align-items-center me-2 d-none d-md-flex px-3" style="background: var(--bs-secondary-bg);border-radius: 10px;border-style: solid;border-color: var(--bs-secondary-bg);">
                            <p style="font-size: 14px;margin: 0px;">Sep 08, 2024 10:05 PM</p>
                        </div>
                        <div class="col-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center px-2"><a href="edit-report.html"><i class="far fa-edit" style="font-size: 26px;"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>