{% extends 'better_buildings/base.html' %}
{% load custom_tags %}
{% load static %}
{% load socialaccount %}
{% load django_bootstrap5 %}
<!-- PWA -->
{% load pwa %}
{% progressive_web_app_meta %}

<!-- Bootstrap CSS/JS -->
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<body>
    <section class="bg-dark d-flex flex-fill py-5">
        <div class="container-md">
            <div class="row mb-3">
                <div class="col-md-12">
                    <h2><strong>Hello {{ user.display_name|default:user.username }}!</strong></h2>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <h5 class="mb-3"><strong>Active Reports:</strong></h5>
                    <div class="row g-0 d-flex">
                        {% for report in user_reports_active %}
                        <div class="col me-3 pt-1 pb-3 px-2" style="background: var(--bs-body-color);border-radius: 10px;border-style: solid;border-color: var(--bs-body-color);">
                            <p style="font-size: 14px;color: black;">{{ report.text|linebreaks }}</p>
                        </div>
                        <div class="col-3 col-lg-auto d-flex align-items-center me-2 d-none d-md-flex px-3" style="background: var(--bs-dark);border-radius: 10px;border-style: solid;border-color: var(--bs-secondary-bg);">
                            <p style="font-size: 14px;margin: 0px;">{{ report.date_added|date:'M d, Y g:i A' }}</p>
                        </div>
                        <div class="col-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center px-2">
                            <a href="{% url 'better_buildings:edit_report' report.id %}"><i class="far fa-edit" style="font-size: 26px;"></i></a>
                        </div>
                        {% empty %}
                        <p>Looks like you don't have any active reports!</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="mb-3"><strong>Resolved Reports</strong></h5>
                    <div class="row g-0 d-flex">
                        {% for report in user_reports_resolved %}
                        <div class="col me-3 pt-1 pb-3 px-2" style="background: var(--bs-body-color);border-radius: 10px;border-style: solid;border-color: var(--bs-body-color);">
                            <p style="font-size: 14px;margin: 0px;color: black;">{{ report.text|linebreaks }}</p>
                        </div>
                        <div class="col-3 col-lg-auto d-flex align-items-center me-2 d-none d-md-flex px-3" style="background: var(--bs-secondary-bg);border-radius: 10px;border-style: solid;border-color: var (--bs-secondary-bg);">
                            <p style="font-size: 14px;margin: 0px;">{{ report.date_added|date:'M d, Y g:i A' }}</p>
                        </div>
                        {% empty %}
                        <p>Looks like you don't have any resolved reports!</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock content %}