{% extends 'better_buildings/base.html' %}

{% block content %}
  <section class="bg-dark d-flex flex-fill py-5 nice-bg">
    <div class="container-md">
      <div class="row d-flex justify-content-between mb-3">
        <div class="col">
            <h2 class="fw-bold">User Profile: {{ user.display_name|default:user.username }}</h2>
            <p>Email:  {{ user.email }}</p>
        </div>
        {% if user.is_suspended %}
          <div class="col-auto pe-0">
            <form method="post" action="{% url 'unsuspend_user' user.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn nice-danger-button">Unsuspend User</button>
            </form>
          </div>
        {% else %}
        <div class="col-auto pe-0">
          <form method="post" action="{% url 'suspend_user' user.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn nice-danger-button">Suspend User</button>
          </form>
        </div>
      {% endif %}
      </div>
      <div class="row mb-4">
        <div class="col">
          <h5 class="mb-3 fw-bold">Active Reports:</h5>
          {% for report in user_reports_active %}
          <div class="row g-0 d-flex mb-3">
            <!-- report text -->
            <div class="col me-2 pt-1 pb-3 px-2 text-dark bg-light" style="border-radius: 10px; border-style: solid;">
              {{ report.text|linebreaks }}
            </div>

            <!-- date -->
            <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
              {{ report.date_added|date:'M d, Y g:i A' }}
            </div>
          </div>
          {% empty %}
            <p>This user does not have any resolved reports.</p>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="mb-3 fw-bold">Resolved Reports</h5>
          {% for report in user_reports_resolved %}
          <div class="row g-0 d-flex mb-3">
            <!-- report text -->
            <div class="col me-2 pt-1 pb-3 px-2 text-dark bg-light" style="border-radius: 10px; border-style: solid;">
              {{ report.text|linebreaks }}
            </div>

            <!-- date -->
            <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
              {{ report.date_added|date:'M d, Y g:i A' }}
            </div>
          </div>
          {% empty %}
            <p>Looks like you don't have any resolved reports!</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}