{% extends 'better_buildings/base.html' %}
{% block content %}
<div class="wrapper">
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
      </div>
    {% endif %}

    <h2 class="mb-4">Login</h2>

    <form action="{% url 'accounts:login' %}" method="post" class="form-inline w-100">
      {% csrf_token %}
      <div class="ibox">
        <input type="text" name="username" placeholder="Username" class="form-control">
        <span class="icon bi bi-person"></span>
      </div>
      <div class="ibox">
        <input type="password" name="password" placeholder="Password" class="form-control">
        <span class="icon bi bi-lock"></span>
      </div>

      <button type="submit" class="btn btn-dark">Login</button>
    </form>
</div>
  
{% endblock content %}
