<div class="container">
  <h4 class="mb-2 fw-bold">Resolved Reports:</h4>
  <p class="mb-2">Below you can find the reports resolved by your building services team in the past 3 days.</p>
  <div class="row mb-4">
    <div class="col">
      <div class="report-list">
        {% for report in resolved_reports %}
        <div class="report-item mb-3">
          <div class="row g-0 d-flex">
            <div class="col pt-1 pb-3 px-2 text-dark bg-light" style="border-radius: 10px;">
              {{ report.text|linebreaks }}
            </div>
            <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark ms-2" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
              {{ report.date_added|date:'M d, Y g:i A' }}
            </div>
            <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark ms-2" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
              Resolved on: {{ report.resolved_date|date:'M d, Y g:i A' }}
            </div>
          </div>
        </div>
        {% empty %}
          <p class="fw-bold">No reports have been resolved recently.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>