{% extends 'better_buildings/base.html' %}
{% block content %}
<div class="box2">
  <h2>Announcements</h2>
  <hr/>
  <h4>All Announcements:</h4>
  {% for announcement in announcements %}
  <div class="row g-0 d-flex mb-3">
    <div class="col pt-1 pb-3 px-2 text-dark bg-light me-2" style="border-radius: 10px;">
      {{ announcement.text|linebreaks }}
    </div>
    <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark me-2" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
      {{ announcement.date_added|date:'M d, Y g:i A' }}
    </div>
  </div>
  {% empty %}
  <p class='fw-bold'>There are no announcements yet, check back later!</p>
  {% endfor %}
  <hr/>
  <h4>Resolved Announcements:</h4>
  {% for announcement in resolved_announcements %}
  <div class="row g-0 d-flex mb-3">
    <div class="col pt-1 pb-3 px-2 text-dark bg-light me-2" style="border-radius: 10px;">
      {{ announcement.text|linebreaks }}
    </div>
    <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark me-2" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
      Created on: {{ announcement.date_added|date:'M d, Y g:i A' }}
    </div>
    <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark me-2" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
      Resolved on: {{ announcement.resolved_date|date:'M d, Y g:i A' }}
    </div>
  </div>
  {% empty %}
  <p class='fw-bold'>There are no resolved announcements yet.</p>
  {% endfor %}
  <hr/>
</div>
{% endblock content %}