{% extends "better_buildings/base.html" %}
{% load static %}
{% block content %}
  <section class="py-5 nice-bg">
    <div class="container">
      <h2 class="fw-bold mb-4">Issue Area: {{ area.text }}</h2>
      <div class="mt-3 mb-3">
        <a href="{% url 'better_buildings:new_report' area.id %}" class="btn btn-info shadow d-block w-20 testy-button">Add a new Report</a>
      </div>
      <div class="row mb-4">
        <div class="col">
          <h4 class="mb-3 fw-bold">Your Reports:</h4>
          {% for report in user_reports %}
          <div class="row g-0 d-flex mb-3">
            <div class="col pt-1 pb-3 px-2 text-dark bg-light" style="border-radius: 10px;">
              {{ report.text|linebreaks }}
            </div>

            <div class="col-3 col-lg-auto d-flex align-items-center d-none d-md-flex px-3 text-light bg-dark ms-2" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
              {{ report.date_added|date:'M d, Y g:i A' }}
            </div>

            <!-- edit button (collapsed) -->
            <div class="col-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center px-2 ms-2 nice-button" style="min-height: 40px;">
              <a href="{% url 'better_buildings:edit_report' report.id %}">
                <svg class="bi bi-pencil-square text-light" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 26px;">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                </svg>
              </a>
            </div>

            <!-- delete report -->
            <div class="col-2 col-md-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center ms-2" style="min-height: 40px;">
              <form method="post" action="{% url 'better_buildings:delete_report' report.id %}" class="w-100">
                {% csrf_token %}
                <button class="btn btn-primary px-2 w-100 nice-danger-button" type="button" style="border: 3px solid rgb(255,255,255);border-radius: 10px;">
                  <svg class="bi bi-x-square text-light" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 26px;">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          {% empty %}
            <p>Looks like you haven't made any reports yet!</p>
          {% endfor %}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <h4 class="mb-3 fw-bold">All Reports:</h4>
          {% for report in reports %}
          <div class="row g-0 d-flex mb-3">
            <!-- report text -->
            <div class="col-12 col-md me-2 mb-2 text-box-thing pt-1 pb-3 px-2 text-dark bg-light" style="border-radius: 10px;">
              {{ report.text|linebreaks }}
            </div>

            <!-- date -->
            <div class="col-3 me-2 col-lg-auto d-flex align-items-center d-none d-lg-flex px-3 text-light bg-dark" style="border-radius: 10px; border-style: solid; border-color: var(--bs-secondary-bg);">
              {{ report.date_added|date:'M d, Y g:i A' }}
            </div>

            <!-- upvote button and count -->
            <div class="thumbs-up-container col-2 col-md-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center px-2 me-2 nice-button" style="min-height: 40px;">
              <i id="thumbs-up-{{ report.id }}" class="bi 
                {% if user in report.upvoted_by.all %}
                  bi-hand-thumbs-up-fill
                {% else %}
                  bi-hand-thumbs-up
                {% endif %}
                thumbs-up-icon text-light" onclick="toggleThumbsUp({{ report.id }})" style="font-size: 26px;"></i>
              <input type="text" id="upvotes-{{ report.id }}" class="form-control upvotes-textbox" readonly value="{{ report.upvotes }}" style="width: 50px;">
            </div>

            {% if is_supervisor %}
              {% if report.owner.id %}
                <!-- view profile -->
                <div class="col-2 col-md-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center px-2 me-2 nice-button" style="min-height: 40px;">
                  <a href="{% url 'user_profile' report.owner.id %}">
                    <svg class="bi bi-person text-light" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 26px;">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                    </svg>
                  </a>
                </div>
              {% endif %}

             <!-- resolve report -->
            <div class="col-2 col-md-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center me-2" style="min-height: 40px;">
                <form method="post" action="{% url 'better_buildings:area' area.id %}" class="w-100">
                    {% csrf_token %}
                    <input type="hidden" name="report_id" value="{{ report.id }}">
                    <button class="btn btn-primary px-2 w-100 nice-button" type="submit" name="resolve" style="border: 3px solid rgb(255,255,255)">
                        <svg class="bi bi-check-square text-light" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 26px;">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"></path>
                        </svg>
                    </button>
                </form>
            </div>

              <!-- delete report -->
              <div class="col-2 col-md-auto d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="min-height: 40px;">
                <form method="post" action="{% url 'better_buildings:delete_report' report.id %}" class="w-100">
                  {% csrf_token %}
                  <button class="btn btn-primary px-2 w-100 nice-danger-button" type="submit" style="border: 3px solid rgb(255,255,255);border-radius: 10px;">
                    <svg class="bi bi-x-square text-light" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 26px;">
                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
                    </svg>
                  </button>
                </form>
              </div>

            {% endif %}
          </div>
          {% empty %}
            <p>Looks like there aren't any reports.</p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% include "better_buildings/_resolved_issues.html" %}
  </section>
{% endblock content %}