<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load socialaccount %} 
  {% load django_bootstrap5 %}
  {% load custom_tags %} <!-- Load custom template tags -->

  <!-- Boostrap CSS/JS -->
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/bb_logo.png' %}">
  
  <!-- Title -->
  <title>MCPS Better Buildings App</title>
  
  <!--My Stylesheets-->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/area.css' %}">
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" href="{% static 'css/input.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> <!-- Icons -->
  <link rel="stylesheet" href="{% static 'css/reporting.css' %}">
  
  <!--My Script-->
  <script src="{% static 'javascript/base.js' %}"></script>
</head>

<body class="p-0 m-0 border-0">

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="{% url 'better_buildings:index' %}">
      <img src="{% static 'images/bb_logo_text2.png' %}" alt="MCPS Better Buildings" style="height: 50px; width: auto;">
    </a>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button id="theme-toggle-small" class="btn btn-light ms-2 d-lg-none">
        <i id="theme-toggle-icon-small" class="bi bi-brightness-high-fill"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="bg-box">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text active fs-5" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text active fs-5" href="{% url 'better_buildings:announcements' %}">Announcements</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text active dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Issues
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <div class="issues-container">
                {% for area in areas %}
                  <li><a class="dropdown-item fs-6" href="{% url 'better_buildings:area' area.id %}">{{ area.text }}</a></li>
                {% empty %}
                  <li><a class="dropdown-item fs-6" href="#">No issue areas available</a></li>
                {% endfor %}
                <li><a class="dropdown-item fs-6" href="{% url 'better_buildings:all_reports' %}">All Reports</a></li>
                </div>
              </ul>
            </li>
          {% endif %}
          {% if user.is_authenticated and user|has_group:"School Supervisors" %}
            <li class="nav-item dropdown">
                <a class="nav-link text active dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin Panel
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <div class="admin-container"> 
                    <li><a class="dropdown-item fs-6" href="{% url 'better_buildings:create_announcement' %}">Create Announcement</a></li>
                    <li><a class="dropdown-item fs-6" href="{% url 'better_buildings:manage_areas' %}">Manage Areas</a></li>
                    <li><a class="dropdown-item fs-6" href="{% url 'better_buildings:manage_announcements' %}">Manage Announcements</a></li>
                    <li><a class="dropdown-item fs-6" href="{% url 'suspended_users' %}">Suspended Users</a></li>
                  </div>
                </ul>
            </li>
          {% endif %}
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        {% if user.is_authenticated %}
        <span class="navbar-user-info">
          {% if viewing_profile %}
            Viewing {{ user.display_name|default:user.username }}'s profile
          {% else %}
            Hello, {{ user.display_name|default:user.username }} ({{ student_school }})
          {% endif %}
        </span>
          <li class="nav-item">
            <a href="{% url 'better_buildings:new_report_no_area' %}">
                <button class="btn btn-primary btn-sm fs-6" type="button" style="margin-right: 10px;">Report</button>
            </a>
          </li>        
          <li class="nav-item">
            <form class="d-inline" action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-danger btn-sm fs-6" type="submit">Log out</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item login-register">
            <a class="nav-link fs-5" href="{% provider_login_url 'google' %}">Students</a>
          </li>
          <li class="nav-item login-register">
            <a class="nav-link fs-5" href="{% url 'login' %}">Staff</a>
          </li>
        {% endif %}
      </ul>
      <button id="theme-toggle" class="btn btn-light ms-3 d-none d-lg-block">
        <i id="theme-toggle-icon" class="bi bi-brightness-high-fill"></i>
      </button>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Main Content Start -->
  <main class="container d-flex justify-content-center align-items-center min-vh-100">
    {% block content %}
    {% endblock content %}
  </main>
  <!-- Main Content End -->

</body>
</html>