{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/bb_logo.png' %}">
    <title>MCPS Better Buildings App</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> <!-- Icons -->
  </head>
  <body class="p-0 m-0 border-0">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand fs-5" href="{% url 'better_buildings:index' %}">MCPS Better Buildings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fs-5" aria-current="page" href="{% url 'better_buildings:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'better_buildings:areas' %}">Issue Areas</a>
            </li>
            {% if user.is_authenticated and user.username == "bb_admin" %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  School
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item fs-6" href="#">Wheaton HS</a></li> <!-- Slightly smaller font for dropdown items -->
                  <li><a class="dropdown-item fs-6" href="#">Montgomery Blair HS</a></li>
                </ul>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item mb-2 me-3 fs-5">
                Hello, {{ user.username }} ({{ student_school }})
              </li>
              <li class="nav-item">
                <form class="d-inline" action="{% url 'accounts:profile' %}">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-outline-primary me-3 mb-2 fs-6">Profile</button> 
                </form>
              </li>
              <li class="nav-item">
                <form class="d-inline" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-outline-danger btn-sm fs-6" type="submit">Log out</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link fs-5" href="{% url 'accounts:register' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="{% url 'accounts:login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <main class="container d-flex justify-content-center align-items-center min-vh-100">
        {% block content %}
        {% endblock content %}
    </main>

  </body>
</html>
