{% extends 'better_buildings/base.html' %}
{% block content %}
<div class="box">
  <div class="form-container">
    <h2>Create a new announcement:</h2>
    <div class="form-container">
      <form action="{% url 'better_buildings:create_announcement' %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_div }}
        <br>
        <button type="submit" class="btn btn-dark">Create Announcement</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}