{% extends "better_buildings/base.html" %}

{% block content %}
<div class="wrapper2">
  <p>Issue area: <a href="{% url 'better_buildings:area' area.id %}">{{ area }}</a></p>

  <p>Edit report:</p>

  <form action="{% url 'better_buildings:edit_report' report.id %}" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <br>
    <button name="submit">Save changes</button>
  </form>

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="delete">Delete Report</button>
  </form>
</div>
{% endblock content %}