{% extends "better_buildings/base.html" %}

{% block content %}
<div class="box2">
    <h2>Areas</h2>
    <button onclick="location.href='{% url 'better_buildings:new_area' %}'" class="btn btn-primary">Add an Area</button>
    <br><br><br>
    <ul class="area-list">
        {% if areas %}
            {% for area in areas %}
                <li id="area-{{ area.id }}" class="area-item">
                    <input type="text" value="{{ area.text }}" class="area-textbox" readonly>
                    <div class="button-group">
                        <button onclick="location.href='{% url 'better_buildings:edit_area' area.id %}'" class="btn btn-secondary">Edit</button>
                        <button onclick="deleteArea({{ area.id }})" class="btn btn-danger">Remove</button>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>No areas available.</li>
        {% endif %}
    </ul>
</div>
{% endblock content %}