{% extends "better_buildings/base.html" %}

{% block content %}
<div class="box2">
    <h2>Areas</h2>
    <button onclick="location.href='{% url 'better_buildings:new_area' %}'" class="btn btn-primary">Add an Area</button>
    <br><br><br>
    {% csrf_token %}
    <ul class="area-list">
        {% if areas %}
            {% for area in areas %}
                <li id="area-{{ area.id }}" class="area-item">
                    <input type="text" value="{{ area.text }}" class="area-textbox" readonly>
                    <div class="button-group">
                        <button onclick="location.href='{% url 'better_buildings:edit_area' area.id %}'" class="btn btn-secondary">Edit</button>
                        <button onclick="deleteArea({{ area.id }})" class="btn btn-danger">Remove</button>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>No areas available.</li>
        {% endif %}
    </ul>
</div>
<script>
    function deleteArea(areaId) {
        if (confirm('Are you sure you want to delete this area?')) {
            const removeAreaUrl = "{% url 'better_buildings:remove_area' 0 %}".replace('0', areaId);
            fetch(removeAreaUrl, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById(`area-${areaId}`).remove();
                } else {
                    alert('Failed to delete the area.');
                }
            });
        }
    }
</script>
{% endblock content %}