{% extends "better_buildings/base.html" %}

{% block content %}
<div class="box2">
  <h2>Manage Announcements</h2>
  <button onclick="location.href='{% url 'better_buildings:create_announcement' %}'" class="btn btn-primary">Create Announcement</button>
  <br><br>
  <h4>Unresolved Announcements:</h4>
  <ul class="announcement-list">
    {% for announcement in announcements %}
    <li class="announcement-item">
      <div class="announcement-content">
        <div class="announcement-text">{{ announcement.text|linebreaks }}</div>
        <div class="announcement-date">{{ announcement.date_added|date:'M d, Y g:i A' }}</div>
      </div>
      <div class="edit-container">
        <a href="{% url 'better_buildings:edit_announcement' announcement.id %}" class="btn btn-secondary">Edit</a>
        {% if is_supervisor %}
        <form method="post" action="{% url 'better_buildings:announcements' %}" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="announcement_id" value="{{ announcement.id }}">
        </form>
        {% endif %}
        <button onclick="handleAnnouncementAction({{ announcement.id }}, 'delete')" class="btn btn-danger">Delete</button>
        <button onclick="handleAnnouncementAction({{ announcement.id }}, 'resolve')" class="btn btn-success">Resolve</button>
      </div>
    </li>
    {% endfor %}
  </ul>
  
  <h4>Resolved Announcements:</h4>
  <ul class="announcement-list">
    {% for announcement in resolved_announcements %}
    <li class="announcement-item">
      <div class="announcement-content">
        <div class="announcement-text">{{ announcement.text|linebreaks }}</div>
        <div class="announcement-date">{{ announcement.date_added|date:'M d, Y g:i A' }}</div>
      </div>
      <div class="edit-container">
        <a href="{% url 'better_buildings:edit_announcement' announcement.id %}" class="btn btn-secondary">Edit</a>
        {% if is_supervisor %}
        <form method="post" action="{% url 'better_buildings:announcements' %}" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="announcement_id" value="{{ announcement.id }}">
        </form>
        {% endif %}
        <button onclick="handleAnnouncementAction({{ announcement.id }}, 'delete')" class="btn btn-danger">Delete</button>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<script>
  function handleAnnouncementAction(announcement_id, action) {
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch('{% url 'better_buildings:manage_announcements' %}', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken,
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'announcement_id': announcement_id,
        'action': action
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data['success']) {
        window.location.reload();
      }
    });
  }
</script>

<style>
  .announcement-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.announcement-item {
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.announcement-item:hover {
    background-color: #f1f1f1;
}

.announcement-item::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.announcement-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.announcement-text {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.announcement-date,
.announcement-resolved-date {
    font-size: 0.9rem;
    color: #666;
}

.edit-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success:hover {
    background-color: #218838;
}
</style>
{% endblock content %}