{% extends 'better_buildings/base.html' %}
{% load custom_tags %}
{% load static %}
{% load socialaccount %}
{% load django_bootstrap5 %}
<!-- PWA -->
{% load pwa %}
{% progressive_web_app_meta %}

<!-- Bootstrap CSS/JS -->
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}

  <section class="bg-dark d-flex flex-fill py-5">
    <div class="container-md">
      <div class="row mb-3">
        <div class="col-md-12 text-center">
          <h2 class="fw-bold">Report an Issue</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-xl-center mb-4">
        <div class="col d-flex justify-content-center">
          <div class="accordion" role="tablist" id="accordion-1" style="width: 100%">
            <div class="accordion-item">
              <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">What should I write here?&nbsp; &nbsp;</button></h2>
              <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <p class="mb-0">You should be as specific as possible about the issue. For example, you could write, "On the third floor main hallway bathroom, the soap dispenser is missing."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <form method="post" action="{% if area %}{% url 'better_buildings:new_report' area.id %}{% else %}{% url 'better_buildings:new_report_no_area' %}{% endif %}">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_div }}

            <div class="mt-3">
              <button class="btn btn-info shadow d-block w-100" type="submit">Report</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}